<body>
<h1>Admin Interface</h1>
<br>
<div><a href="{{ path('logout') }}">Se déconnecter</a></div>
<br>
<h3>Recherche</h3>
<form action="{{ path("search_and_filter") }}" method="POST">
    <label for="search"></label>
    <input id="search" type="text" name="search" minlength="3" placeholder="Prenom, nom et n carte">
    <input type="submit" value="Valider">
    <input type="button" value="Effacer" id="btn">
    {#<input type="button" value="Export CSV" id="export-csv">#}
</form>

{% if users is defined %}
    <table id="results">
        <tr>
            <th>Numero</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Numero de carte</th>
        </tr>
        {% for key, user in users %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.card.cardNumber }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
<script>
     (function() {
         document.getElementById('btn').addEventListener('click', function () {
             var element = document.getElementById("results");
             element.parentNode.removeChild(element);
         });
     })();
</script>
